@import "../node_modules/bulma/bulma.sass";

body {
  .slowly {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .hasMargin {
    margin: 5px;
  }
  .hundo-height {
    height: 100vh;
  }
}
//@keyframes popup {
//  75% {
//    transform: translateY(-15px);
//  }
//  100% {
//    transform: translateY(0px);
//  }
//}
//
//#eyebrow {
//  animation: popup 4s 1s ease infinite;
//}
#eyebrow{
  transform: translateY(0px);
  transition: transform .5s;
}
svg {
  &:hover {
    #eyebrow {
      transform: translateY(-15px);
    }
  }
}

@media screen and (max-width: 979px) {
  .is-fullwidth {
    .container {
      width: 100%;
    }
  }
  #dave-face {
    height: auto;
    width: auto;
    max-height: 40vh;
  }
}