<section class="hero is-fullheight">
    <div class="hero-head">
        <ng-include src="'views/navbar.html'"></ng-include>
    </div>
    <div class="hero-body animated fadeIn">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <h1 class="title is-1">
                        {{main.sections.about}}
                    </h1>
                    <h2 class="subtitle">
                        I work with with developers, product managers, and end users to make useful, intuitive applications. I have worn many hats on various Agile teams, from Scrum Master to QC Automation Engineer. One thing I have learned is that on a self-organizing Agile team, your role matters less than your ability to <strong>get stuff done.</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'views/nav-footer.html'"></ng-include>
</section>