<div class="level hundo-height">
    <div class="level-item">
        <img src="pics/Cartoon2.svg">
    </div>
    <div class="level-item">
        <div>
            <h1 class="title is-1">Oh, hey</h1>
            <h4 class="title is-4">
                My name's {{me.firstName}}, and I like to party
            </h4>
            <br>
            <a ui-sref="about" class="button is-primary is-large">
                Let's party &nbsp;
                <i class="fa fa-angle-right animated fadeOutRight slowly"></i>
            </a>
        </div>
    </div>
</div>