<div class="tabs">
    <ul>
        <li ng-repeat="job in main.jobs"
            ng-click="main.viewingJob = $index"
            ng-class="main.viewingJob == $index ? 'is-active' : ''">
            <a>{{job.shortName || job.company}} {{'(' + job.dates + ')'}}</a>
        </li>
    </ul>
</div>
<div class="animated fadeIn" ng-repeat="job in main.jobs" ng-if="main.viewingJob == $index">
    <h2 class="title is-3">{{job.company}}</h2>
    <h3 class="subtitle">{{job.title}}</h3>
    <div class="content">
        <ul>
            <li ng-repeat="bullet in job.bullets">
                {{bullet}}
            </li>
        </ul>
    </div>
</div>