<div class="tabs">
    <ul>
        <li class="is-active"><a>Xamplio (present)</a></li>
        <li><a>Jellyfish (present)</a></li>
        <li><a>NantHealth (2013-2015)</a></li>
        <li><a>ITD (2013)</a></li>
    </ul>
</div>
<h2 class="title is-3">Xamplio, LLC</h2>
<h3 class="subtitle">Founder and Owner</h3>
<div class="content">
    <ul>
        <li>
            Plan, code, and maintain Xamplio (www.xamplio.com), an online resume generator geared toward new job seekers (with thousands of users across all 50 states and over 65 countries)
        </li>
        <li>
            Manage backlog of user stories, tasks, and support tickets in Trello to ensure users have the features they need Implement and review Google, Facebook, and YouTube analytics to drive traffic and improve user retention
        </li>
        <li>
            Increased user account completion from 70% to over 90% by using analytics to drive UX improvements
        </li>
        <li>
            Reach an audience of over 1,500 viewers per day on YouTube, with total lifetime views over 1.5 million for the channel
        </li>
    </ul>
</div>