<section class="hero is-fullheight">
    <div class="hero-head">
        <ng-include src="'views/navbar.html'"></ng-include>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <h1 class="title is-1">
                        {{main.sections.school}}
                    </h1>
                    <h2 class="subtitle">
                        I am smart! No, seriously, I'm very smart. You can tell, because <strong>Boise State University</strong> gave me a piece of paper that said I have a <strong>B.A. Technical Communication</strong> degree!
                    </h2>
                    <h2 class="subtitle">
                        Sarcasm (and one overpriced piece of paper) aside, I am a lifelong learner. My education didn't end when I graduated from college. I have since taught myself HTML, CSS, Javascript, Angular, Protractor (test automation), and a number of other useful things.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'views/nav-footer.html'"></ng-include>
</section>